/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


input[type="submit"], .portfolio-filtres button, .modal button, 
label[for="fileElem"], i.fa-solid.fa-arrow-left.js-modal-retour, 
i.fa-solid.fa-xmark.js-modal-close, #categorie {
    cursor: pointer;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 139px 0 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

header img {
    width: 22px;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
    color: #3D3D3D;
}

#portfolio h2 {
	text-align: center;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-top: 45px;
}

.gallery img {
	width: 100%;
}

figcaption {
    color: #3D3D3D;
}

#contact {
	width: 50%;
    margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer {
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

footer nav {
	height: 100%;
	display: flex;
}


/*ADD Dynamic */
.portfolio-filtres {
	display: flex;
	list-style: none;
	justify-content: center;
	gap: 10px;
}

.portfolio-filtres button{
	color: #1D6154;
	font-family: 'Syne';
	border: 1px solid #1D6154;
	background-color: #FFFEF8;
	border-radius: 60px;
	padding: 9.5px 21px;
}

.portfolio-filtres button.selected{
	background-color: #1D6154;
	color: #FFFFFF ;
}



/* Mode edition */ 


.mes-projets {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 45px;
	gap: 2.5em;
}

.mes-projets .modifier {
	gap: 10px;
	
}

.edition-bande {
    display: flex;
    background: black;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    justify-content: center;
    color: white;
    height: 60px;
    align-items: center;
    gap: 11.5px;
    font-size: 16px;
    font-weight: 400;
	cursor: default;
}

.edition-bande i{
    color: white;
}


.hidden {
	display: none
}

.visible {
	display: flex;
}


/* Modal**/

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	animation: fadeIn .3s ease-out;
}

.modal[aria-hidden="true"] {
	animation : fadeOut .3s ease-out forwards

}

@keyframes fadeIn {
	from { opacity: 0;}
	to { opacity: 1; }
}

@keyframes fadeOut {
	from {opacity : 1}
	to {opacity : 0}
}



.modal-wrapper{
	background: white;
	padding: 50px 20px;
	width: 630px;
	height: 688px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-img {
    overflow: auto;
    border-bottom: 1px solid #B3B3B3;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding-bottom: 45px;
    margin: 45px;
}


.modal nav {
	display: flex;
	justify-content: space-between;

}

.js-modal-form, button[type="submit"] {
width: 179px;
    background-color: #1D6154;
    color: white;
    border: none;
    height: 36px;
    border-radius: 60px;
    margin: 0;
	bottom: 0;
	align-self: center;
}

i.fa-solid.fa-xmark.js-modal-close {
    align-self: flex-end;
}

.imagesModal {
	height: 102.57px;
	width: 79.63px;
}

.title-modal {
    font-size: 26px;
}

.workContainer {
	position: relative;
}

.delete {
	position:absolute;
	right: 0;
}

.delete img {
	padding: 5px;

}


.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

input.visually-hidden:is(:focus, :focus-within) + label {
  outline: thin dotted;
}

form {
    display: flex;
    flex-direction: column;
	gap: 10px;
}

.form-files {
    height: 169px;
    width: 420px;
    background: #E8F1F6;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


i.fa-solid.fa-image {
	font-size: 66.5px;color: #B9C5CC;
}



.form-files {
    gap: 10px;
 
}

label[for="fileElem"] {
    background: #CBD6DC;
    border-radius: 50px;
    color: #306685;
    padding: 10px 33px;
}

.form-files p {
    font-size: 10px;
    color: #444444;
}

.modal-wrapper nav {
    display: flex;
    justify-content: space-between;
	width: 100%;
}

.form-add-work input, .form-add-work select {
    border: none;
    box-shadow: 0px 4px 14px 0px #00000017;
    height: 51px;
	width: 420px;
    font-size: 18px;
    font-family: 'Work Sans';
    padding: 0;
    color: #6C6C6C;
}

.form-add-work select {
	appearance: none;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%236C6C6C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M6 9l6 6 6-6'/></svg>");
	background-repeat: no-repeat;
	background-position: right 12px center; 
	background-size: 12px;
}

img.preview-image {
    height: 169px;
    width: 129px;
}

.hidden-for-preview {
	display: none;
}


.modal-btn {
    background: none;
    border: none;
}

button.modal-btn.js-modal-close {
    align-self: flex-end;
}




p.error-message {
    align-self: center;
}


.form-add-work .wrong-form {
    border: 2px solid #aa430324;
} 


button.modal-btn.delete {
    padding: 0;
}


form.form-add-work {
    gap: 40px;
}

form.form-add-work {
    align-items: center;
}

h3.title-modal {
    padding-bottom: 40px;
}

.form-add-work div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-categorie-form {
    padding-bottom: 40px;
    border-bottom: 1px solid #B3B3B3;
}

button.submit {
    background: #B3B3B3;
}


button.submit-green {
	background-color: #1D6154;
}

